*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: cursive;
}
header{
    width: 100vw;
    height: 100vh;
    background: url('Images/background.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}
nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    color:white;
    font-size: 50px;
    padding-right: 300px;
    letter-spacing: 10px;
}
.logo span{
    color: #e74c3c;
}
.menu{
    margin-right: 10px;
}
.menu a{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    margin:5px;
}
.menu a:hover{
    background-color: #e74c3c;
    transition: 0.4s;
    border-radius: 10px;
}
.text{
    color: white;
    margin-top: 20vh;
    margin-left: 300px;
    margin-right: 300px;
    max-width: 100vw;
}
.text span{
    font-size: 50px;
    margin: 10px 0px;
}
.text div{
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.c-btn{
    border:none;
    outline: none;
    background-color: #e74c3c;
    border-radius: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 30px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 20px;
}
.c-btn:hover{
    background-color: rgb(209, 161, 161);
    color: black;
}
#about{
    padding: 50px 50px;
    background: url('Images/aa.jpg') no-repeat center center/cover;
}
.section-info{
    font-weight: bold;
    text-align: center;
}
#about h1{
    font-size: 60px;
    padding-left: 500px;
}
.section-info h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.section-info p{
    font-size: 25px;
    color: #e74c3c;
}
#about{
    height: 100vh;
}
.about-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 30%;
}
.about-left-col img{
    width: 21vw;
}
.about-right-col{
    flex-basis: 50%;
}
.about-right-col ul{
    margin-top: 10px;
    font-size: 20px;
}
.about-right-col ul li{
    padding: 5px;
    text-align: justify;
    font-weight: bold;
}
#skills{
    height: 100vh;
    padding: 50px 50px;
    background: url('Images/bc.jpg') no-repeat center center/cover;
    color: white;
    background-attachment: fixed;
}
.skills-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
progress{
    width: 50vw;
}
.progress-div{
    width: 70vw;
}
.progress-div p{
    margin-bottom: 5px;
    font-size: 15px;
    padding-left: 80px;
}

#project{
    background: url('Images/aa.jpg') no-repeat center center/cover;
    width: 100%;
    height: 120vh;
    padding: 10px 10px;
}
#project h1{
    font-size: 50px;
    text-align: center;
    color: black;
}
#project-row{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}
#project-row .p{
    flex-basis: 48%;
    padding: 30px 30px;
    margin: 40px 20px;
    border: 2px solid red;
}
#project-row .p ul{
    font-size: 20px;
    text-align: justify;
    padding-top: 25px;
}
#project-row .p h2{
    font-size: 30px;
}
#footer{
    height: 50vh;
    color: white;
    background: url('Images/background.jpg') no-repeat center center/cover;
}
#footer-contact{
    padding: 20px;
}
#social-media{
    display: flex;
    justify-content: space-evenly;
}
.contact-icon-size{
    height: 10vh;
}
#social-media a img:hover{
    border: 5px solid black;
}
#footer-developer-info{
    padding: 10px;
    text-align: center;
}